body{
font-family:Arial;
text-align:center;
}

#gameBoard{
width:400px;
margin:auto;
display:flex;
flex-wrap:wrap;
}

.card{
width:80px;
height:80px;
margin:5px;
background:#79a3b6;
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
color:#fff;
cursor:pointer;
border-radius:8px;
transition:0.3s;
}

.card.flipped{
background:#fff;
color:#333;
transform:scale(1.05);
}

#winMessage{
display:none;
margin-top:20px;
color:green;
font-size:24px;
}